<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="all">

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </div>

    <div class="grid">
      <div class="grid-heading">
          <div class="masthead-top">Nov.</div>
          <div class="masthead-bottom">16</div>
      </div>
      <div class="grid-blocks">
        <a href="http://www.givingcityaustin.com/takeaction/whos-doing-givingtuesday-in-austin/">
          <div class="item">
              <i class="fa fa-bookmark-o" aria-hidden="true"></i>
              <h4>Article</h4>
              <h2>“Who’s doing #GivingTuesday in Austin?”</h2>
              <p>GivingCity Austin</p>
          </div>
        </a>
        <a href="http://impacthubaustin.com/events/">
          <div class="item">
              <i class="fa fa-calendar-o" aria-hidden="true"></i>
              <h4>Event</h4>
              <h2>Wonder Brew at Impact Hub Austin</h2>
              <p>Wed, Dec. 7, 2016 - 5:00–7:00 pm</p>
          </div>
        </a>
        <a href="http://ilivehereigivehere.org/for-non-profits/">
          <div class="item">
              <i class="fa fa-bullhorn" aria-hidden="true"></i>
              <h4>Announcement</h4>
              <h2>"Amplify Austin Registration Opens"</h2>
              <p>I Live Here I Give Here</p>
          </div>
        </a>
        <a href="https://missioncapital.org/events/event-detail/?EventName=Emerging%20Leadership%20Academy%20Winter%202016">
          <div class="item">
              <i class="fa fa-bullhorn" aria-hidden="true"></i>
              <h4>Announcement</h4>
              <h2>"Applications Open for Mission Capital’s Emerging Leadership Academy"</h2>
              <p>Apply by 11/30 at noon</p>
          </div>
        </a>
        <a href="https://twitter.com/matthewkouri/status/774246642585174016">
          <div class="item">
              <i class="fa fa-quote-right" aria-hidden="true"></i>
              <h4>Quote</h4>
              <h2>"Passion is the rocket fuel that drives high performance."</h2>
              <p>Rob Kaplan</p>
          </div>
        </a>
        <a href="http://www.austinchronicle.com/news/2016-11-25/local-wonks-austin-monitor-reach-a-new-partnership/">
          <div class="item">
              <i class="fa fa-bookmark-o" aria-hidden="true"></i>
              <h4>Article</h4>
              <h2>“Local Wonks Austin Monitor Reach a New Partnership”</h2>
              <p>Austin Chronicle</p>
          </div>
        </a>
      </div>
    </div>

  </body>

</html>
